@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  src: url("../font/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  src: url("../font/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url("../font/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url("../font/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  src: url("../font/Montserrat-UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  src: url("../font/Montserrat-Regular.ttf") format("truetype");
}
